{% extends 'todos/base.html' %} {% block title %}
<title>Todo list</title>
{% endblock %} {% block content %}
<div class="container">
  <!-- title row -->
  <div class="row">
    <div class="offset-md-2 col-lg-9">
      <div class="page-header">
        <h1>Todo List</h1>
      </div>
    </div>
  </div>

  <!-- Add a todo row -->
  <div class="row" style="display: flex; align-items: center">
    <div class="col-lg-12">
      <form method="post" action="{% url 'todos:add' %}">
        {% csrf_token %}
        <div class="form-row">
          <div
            style="
              width: 100%;
              display: flex;
              justify-content: space-between;
              flex-direction: row;
            "
          >
            <input
              type="text"
              class="form-control"
              name="title"
              placeholder="Do laundry"
              required
            />
            <button
              type="submit"
              name="submit"
              class="btn btn-outline-primary"
              style="margin-left: 10px"
            >
              Add
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <hr />

  <!-- todo list row -->
  <div class="row">
    <div class="col-lg-12">
      <div class="list-group">
        {% for todo in todo_list %}
        <div
          class="list-group-item {% if todo.isCompleted %} todo-complete {% endif %}"
          style="display: flex; justify-content: space-between"
        >
          <div class="todos" style="display: flex">
            <form
              style="display: inline"
              method="post"
              action="{% url 'todos:update' todo.id %}"
            >
              {% csrf_token %}
              <input
                type="checkbox"
                name="isCompleted"
                onchange="this.form.submit()"
                {%
                if
                todo.isCompleted
                %}
                checked
                {%
                endif
                %}
                class="todo-status-checkbox"
                title="{% if not todo.isCompleted %} mark as done {% else %} mark undone {% endif %}"
              />
            </form>
            {{ todo.title }}
          </div>

          <div class="buttons" style="display: flex; flex-direction: row">
            <a href="{% url 'todos:update' todo.id %}" title="Update">
              <i class="fas fa-edit"></i
            ></a>

            <a
              href="{% url 'todos:delete' todo.id %}"
              title="Delete"
              style="margin-left: 15%"
            >
              <i class="far fa-trash-alt"></i>
            </a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
